<div nz-row nzJustify="space-between">
    <div nz-col nzSpan="4">
        <h3>Monedas</h3>
    </div>
    <div nz-col nzSpan="4"><button nz-button nzType="primary" (click)="nuevo()"> <span nz-icon nzType="plus"></span> Agregar </button></div>
</div>
<nz-divider nzPlain nzOrientation="left"></nz-divider>
<nz-table #basicTable [nzData]="listOfDisplayData" [nzLoading]="loading">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.mndId }}</td>
            <td>{{ data.mndNombre }}</td>
            <td>
                <a (click)="Borrar(data.mndId)">Borrar</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="actualizar(data.mndId)">Actualizar</a>
            </td>
        </tr>
    </tbody>
</nz-table>